/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  @apply m-0 p-0 cursor-default font-Bebas text-snow bg-myBlack;
}

div {
  @apply bg-transparent
}

body {
  position: relative;
  @apply -z-20 overflow-x-hidden
}

/* ANIMATIONS */
@keyframes translate-full-right {
  0% {
    transform: translate(-200%);
  }

  50% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes appear-from-left {
  0% {
    transform: translate(-10px);
    opacity: 0%;
  }
  100% {
    transform: translate(0);
    opacity: 100%;
  }
}

@keyframes appear-from-right {
  0% {
    transform: translate(10px);
    opacity: 0%;
  }
  100% {
    transform: translate(0);
    opacity: 100%;
  }
}

.animate-translate-right {
  animation: translate-full-right 0.7s ease-in-out;
}

.animate-appear-left {
  animation: appear-from-left 0.5s ease-out;
}

.animate-appear-right {
  animation: appear-from-right 0.5s ease-out;
}